services:
  db:
    image: postgres:16.1
    container_name: daily-db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=daily_db
      - POSTGRES_USER=dbuser
      - POSTGRES_PASSWORD=12345
    healthcheck:
      test: pg_isready -q -d $$POSTGRES_DB -U $$POSTGRES_USER
      timeout: 5s
      interval: 5s
      retries: 10